<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Generated Config</h3>
    </div>
  </div>
  <div class="card-body">
    <!--begin::Example-->
    <div class="example mb-10">
      <p>
        Use for layout config in
        <code>/src/app/core/_config/layout.config.ts</code>
      </p>
      <div class="example-code">
        <div class="example-code">
          <span
                  class="example-copy"
                  data-placement="left"
                  ngbTooltip="Copy code"
          ></span>
          <div class="example-highlight">

          </div>
        </div>
      </div>
    </div>
    <!--end::Example-->
  </div>
</div>
